In [1]:
!pip3 install reportlab

Collecting reportlab
  Downloading reportlab-4.2.5-py3-none-any.whl.metadata (1.5 kB)
Requirement already satisfied: pillow>=9.0.0 in /home/rebel/anaconda3/lib/python3.12/site-packages (from reportlab) (10.4.0)
Requirement already satisfied: chardet in /home/rebel/anaconda3/lib/python3.12/site-packages (from reportlab) (4.0.0)
Downloading reportlab-4.2.5-py3-none-any.whl (1.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 132.2 kB/s eta 0:00:00a 0:00:01
Installing collected packages: reportlab
Successfully installed reportlab-4.2.5

# Import Required Library

In [2]:
import pandas as pd
from reportlab.lib.pagesizes import A4
from reportlab.platypus import SimpleDocTemplate,Table,TableStyle
from reportlab.lib import colors
import os
import datetime as dt

# Load Data and Calculate Total Amount

In [3]:
# Load dataset
df=pd.read_csv('orders.csv')

In [4]:
# Calculate total amount of each product
df['Total Amount']=df['Unit Price']*df['Quantity']

In [5]:
df.head()

   Order ID Customer Name    Product Name  Quantity  Unit Price  Total Amount
0         1  Rahul Sharma  Wireless Mouse         2       15.99         31.98
1         2   Priya Patel   USB-C Adapter         1       12.50         12.50
2         3    Amit Kumar        Keyboard         1       29.99         29.99
3         4    Neha Singh         Monitor         1      199.99        199.99
4         5   Ananya Iyer    Laptop Stand         3       24.50         73.50

# Generate PDF Invoice

In [6]:
# Create directory to store invoices
os.makedirs('invoices',exist_ok=True)
for _,j in df.iterrows():
    file=f"invoices/invoice_{j['Order ID']}.pdf"
    pdf=SimpleDocTemplate(filename=file,pagesize=A4)
    elements=[]
    invoice_data=[
        ["Invoice Number",j['Order ID']],
        ['Date of Purchase',dt.datetime.today().strftime('%Y-%m-%d')],
        ['Customer Name',j['Customer Name']],
        ['Product Name',j['Product Name']],
        ['Quantiity',j['Quantity']],
        ['Unit Price',j['Unit Price']],
        ['Total Amount',j['Total Amount']]
    ]
    style = TableStyle([
    ('BACKGROUND', (0, 0), (1, 0), colors.black),
    ('TEXTCOLOR', (0, 0), (1, 0), colors.white),
    ('ALIGN', (0, 0), (-1, -1), 'CENTER'),
    ('FONTSIZE', (0, 0), (-1, -1), 12),
    ('GRID', (0, 0), (-1, -1), 1, colors.black)
    ])
    table=Table(invoice_data)
    table.setStyle(style)
    elements.append(table)
    pdf.build(elements)
print("All the pdf invoices has been generated successfully")

All the pdf invoices has been generated successfully